body {
    text-align: center;
    font-size: 28px;
    background-color: #EAD637;
    font-family: 'Times New Roman', Times, serif;
    color: #30362F;
}

.gif {
    height: auto;
    width: 900px;
}

.firecracker {
    height: auto;
    width: 900px;
}

.beef {
    height: auto;
    width: 900px;
}

.maccheese {
    height: auto;
    width: 900px;
}